---
import Layout from '@layouts/Layout.astro';
import SocialMediaBar from '@components/Others/SocialMediaBar.astro';
import Card from '@components/Card/Card.astro';
import CertificationCard from '@components/Card/CertificationCard.astro';
import ExpCard from '@components/Card/ExpCard.astro';
import EstudiosCard from '@components/Card/EstudiosCard.astro';
// import Badge from '@components/Badge.astro';

import { getI18N } from '../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale})

const experiencia = [
	{
		imgSrc:"./data_analysis.png",
		titulo: i18n.EXP1_TITLE,
		descripcion: i18n.EXP1_DESCRIPTION,
		demo:"https://www.kaggle.com/code/ivanedasdsada/social-media-exploratory-analisis",
		repositorio:"https://www.kaggle.com/code/ivanedasdsada/social-media-exploratory-analisis",
		tecnologias:["fa-brands fa-html5", "fa-brands fa-css3", "fa-brands fa-php", "fa-solid fa-database"],
		reverso : false
	},
	{
		imgSrc:"./proyabogado.png",
		titulo: i18n.EXP2_TITLE,
		descripcion: i18n.EXP2_DESCRIPTION,
		demo:"https://proyecto-abogado.vercel.app/",
		repositorio:"https://github.com/idmr023/ProyectoAbogado",
		tecnologias:["fa-brands fa-react", "fa-solid fa-database"],
		reverso : true
	},
	{
		imgSrc:"./asteroids.jpg",
		titulo: i18n.EXP3_TITLE,
		descripcion: i18n.EXP3_DESCRIPTION,
		demo:"https://nave-videojuego.vercel.app/",
		repositorio:"https://github.com/idmr023/nave_videojuego.git",
		tecnologias:["fa-brands fa-js"],
		reverso : false
	},
	{
		imgSrc:"./antares.png",
		titulo: i18n.EXP4_TITLE,
		descripcion: i18n.EXP4_DESCRIPTION,
		demo:"#",
		repositorio:"https://github.com/idmr023/sistema-gestion-hotel-java-jsp.git",
		tecnologias:["fa-brands fa-java"],
		reverso : true
	},
	{
		imgSrc:"./videogame_unity.jpeg",
		titulo: i18n.EXP5_TITLE,
		descripcion: i18n.EXP5_DESCRIPTION,
		demo:"https://proyecto-final-liart.vercel.app/",
		repositorio:"https://github.com/idmr023/unity-3d-online-game-prototype.git",
		tecnologias:["fa-brands fa-unity"],
		reverso : false
	}
]

---
<Layout title={i18n.WEBPAGE_TITLE}>

	<nav class="flex flex-col xl:flex-row justify-between items-center w-full px-4 py-4 bg-slate-900 text-cyan-400 relative z-50">
	<div class="flex justify-between items-center w-full xl:w-auto">
		<h1 class="text-xl font-semibold">Mi Portafolio</h1>
		<button id="menu-toggle" class="text-3xl xl:hidden focus:outline-none">
		☰
		</button>
	</div>

	<ul id="nav-menu" class="hidden xl:flex flex-col xl:flex-row w-full xl:w-auto mt-4 xl:mt-0 gap-2 text-lg xl:text-xl bg-slate-900 xl:bg-transparent z-50">
		<li><a href="#aboutme" class="hover:text-cyan-600 block py-2 px-2">{i18n.MENU_A1}</a></li>
		<li><a href="#skills" class="hover:text-cyan-600 block py-2 px-2">{i18n.MENU_A2}</a></li>
		<li><a href="#studies" class="hover:text-cyan-600 block py-2 px-2">{i18n.MENU_A3}</a></li>
		<li><a href="#proyects" class="hover:text-cyan-600 block py-2 px-2">{i18n.MENU_A4}</a></li>
		<li class="bg-gray-800 px-3 py-1 rounded text-center"><a href="./">Español 🇵🇪</a></li>
		<li class="bg-gray-800 px-3 py-1 rounded text-center"><a href="./en">English 🇺🇸</a></li>
	</ul>

	<script is:inline>
		const toggleButton = document.getElementById('menu-toggle');
		const navMenu = document.getElementById('nav-menu');
		toggleButton?.addEventListener('click', () => {
		navMenu?.classList.toggle('hidden');
		});
	</script>
	</nav>
	  
    <div class="container mx-auto px-4 mt-12">
		<section class="flex flex-col items-center mt-12 px-4" id="aboutme">
			<img class="w-40 h-40 rounded-md mb-4 sm:w-44 sm:h-44" src="./profile.webp" alt={i18n.HEADER_IMG_ALT} />
			<div class="max-w-lg text-center sm:text-left">
				<h1 class="text-4xl text-cyan-600">{i18n.HEADER_TITLE}</h1>
				<p class="text-white text-justify" set:html={i18n.HEADER_DESCRIPTION}></p>
				<SocialMediaBar/>
			</div>
			<!-- <Badge>{i18n.HEADER_BADGE_TXT}</Badge> -->
		</section>
		
		<section class="justify-around mt-12 mx-auto">
			
				<h1 class="text-4xl p-2 text-center text-cyan-600" id="skills">{i18n.SKILLS_TITLE}</h1>
				<div class="flex flex-wrap text-white text-justify justify-center">
					<Card 
						nombre={i18n.SKILLS_SUBTITLE1}
						descripcion="Java, JavaScript, Python, PHP"
					/>

					<Card 
						nombre={i18n.SKILLS_SUBTITLE2}
						descripcion="React, Angular, Vue.js, Svelte, Bootstrap, Astro"
					/>

					<Card 
						nombre={i18n.SKILLS_SUBTITLE3}
						descripcion="Microsoft Excel, Power BI, pandas, Jupyter Notebook, NumPy"
					/>

					<Card 
						nombre={i18n.SKILLS_SUBTITLE4}
						descripcion="MySQL, SQL, Trello, Figma"
					/>
				</div>
		</section>
	
		<section class="w-4/5 mt-12 mx-auto text-white" id="studies">
			<h1 class="text-4xl p-2 text-center text-cyan-600">{i18n.STUDIES_TITLE}</h1>
			
			<EstudiosCard
				imgSrc="fas fa-graduation-cap"
				titulo={i18n.STUDIES1_TITLE}
				estado={i18n.STUDIES1_STATE}
				alt={i18n.STUDIES1_ALT}
			/>
		
			<section class="justify-around mt-12 mx-auto">
				<h2 class="text-3xl p-2 text-center text-cyan-500" id="skills">{i18n.CERTIFICATIONS_TITLE}</h2>
				<div class="flex flex-wrap text-white text-justify justify-center">
					<CertificationCard 
						titulo={i18n.CERTIFICATIONS_SUBTITLE1} 
						descripcion={i18n.CERTIFICATIONS_DESCRIPTION1}  
					/>
		
					<CertificationCard 
						titulo={i18n.CERTIFICATIONS_SUBTITLE2} 
						descripcion={i18n.CERTIFICATIONS_DESCRIPTION2}  
					/>
		
					<CertificationCard 
						titulo={i18n.CERTIFICATIONS_SUBTITLE3} 
						descripcion={i18n.CERTIFICATIONS_DESCRIPTION3}  
					/>
				</div>
			</section>
		</section>		
		
		<section class="w-4/5 mx-auto justify-between text-white" id="proyects">
			<h1 class="text-4xl p-2 text-center text-cyan-600">{i18n.EXP_TITLE}</h1>
			<div class="p-6 justify-around">

				{
					experiencia.map((exp) => (
					<ExpCard
						imgSrc={exp.imgSrc}
						titulo={exp.titulo}
						descripcion={exp.descripcion}
						demo={exp.demo}
						repositorio={exp.repositorio}
						tecnologias={exp.tecnologias}
						reverso={exp.reverso}
					/>
					
					))
				}

			</div>
		</section>
		
		
	</div>


	<footer class="w-full bg-slate-900 py-5">
		<p class="text-cyan-400 hover:text-cyan-300 text-center text-xl">
		  © {new Date().getFullYear()} | Ivan Daniel Manrique Roa
		</p>
		<div class="flex justify-center space-x-4 mt-2">
		  <a 
			href="https://www.linkedin.com/in/ivan-daniel-manrique-roa-978a29187" 
			target="_blank" 
			class="text-cyan-400 hover:text-cyan-300"
			aria-label="LinkedIn"
		  >
			<i class="fab fa-linkedin"></i>
		  </a>
		  <a 
			href="https://github.com/idmr023" 
			target="_blank" 
			class="text-cyan-400 hover:text-cyan-300"
			aria-label="GitHub"
		  >
			<i class="fab fa-github"></i>
		  </a>
		  <a 
			href="mailto:miemail@dominio.com" 
			class="text-cyan-400 hover:text-cyan-300"
			aria-label="Correo Electrónico"
		  >
			<i class="fas fa-envelope"></i>
		  </a>
		</div>
	  </footer>

</Layout>
